body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}

.header, .footer {
    background-color: rgb(31,41,55);
    color: white;
}

.first-content {
    background-color: rgb(31,41,55);
    color: white;
}

.second-content {
    color: rgb(31,41,55);
}

.third-content {
    color: rgb(31,41,55);
    background-color: #e5e7eb;
}

.fourth-content {
    color: white;
    background-color: #2674f6;
}
