body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    margin: 0;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 60px;
}

.header-title {
    font-size: 32px;
    font-weight: bold;
}

.header-links {
    color: #dfdee4;
    font-size: 18px;
}

ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    gap: 16px;
}

a {
    text-decoration: none;
}

a:visited {
    color: #dfdee4;
    text-decoration: none;
}

.header, .footer {
    background-color: rgb(31,41,55);
    color: white;
}

.first-content {
    background-color: rgb(31,41,55);
    color: white;
}

.second-content {
    color: rgb(31,41,55);
}

.third-content {
    color: rgb(31,41,55);
    background-color: #e5e7eb;
}

.fourth-content {
    color: white;
    background-color: #2674f6;
}
