body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    margin: 0;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 60px;
}

.header-title {
    font-size: 32px;
    font-weight: bold;
}

.header-links {
    color: #dfdee4;
    font-size: 18px;
}

ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    gap: 16px;
}

a {
    text-decoration: none;
}

a:link, a:visited {
    color: #dfdee4;
    text-decoration: none;
}

.header, .footer {
    background-color: #1f2937;
    color: #f9faf8;
}

.first-content {
    background-color: #1f2937;
    color: #f9faf8;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 64px;
    padding: 124px;
}

.first-content h1 {
    margin: 0;
    font-size: 48px;
    font-weight: bold;
}

.boxes {
    width: 500px;
}

.boxes p {
    margin: 0;
    font-size: 18px;
    color: #e5e7eb;
}

.boxes .button {
    background-color: #2674f6;
    color:white;
    border-radius: 8px;
    margin-top: 8px;
    padding: 8px;
    text-align: center;
    font-weight: bold;
    width: 128px;
}

img {
    width: 100%;
    height: 200px;
}

.second-content {
    color: rgb(31,41,55);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column
}

h2 {
    font-size: 36px;
    font-weight: 900;
    margin: 32px;
}

.cards {
    display: flex;
    justify-content: space-evenly;
    width: 900px;
    margin-bottom: 64px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 160px;
}

.rounded-square {
    height: 150px;
    width: 150px;
    border: 5px solid #2674f6;
    border-radius: 10px;
}

.third-content {
    color: rgb(31,41,55);
    background-color: #e5e7eb;
}

.fourth-content {
    color: white;
    background-color: #2674f6;
}
